<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원 가입</h1>
    <hr>

    <form th:action="@{/user/join}" method="post">
        <div style="position: static">
            <b>아이디 : </b>
            <label>
                <input type="text" name="userId" placeholder="아이디를 입력해주세요">
            </label>
        </div>
        <div style="position: static">
            <b>패스워드 : </b>
            <label>
                <input type="password" name="password" placeholder="비밀번호">
            </label>
        </div>
        <div th:each="role : ${roles}">
            <label for="role" th:text="${role.getKoreanDesc()}"></label>
            <label>
                <input type="radio" name="role" th:value="${role} "/>
            </label>
        </div>

        <button type="submit">가입하기</button>
    </form>
    <hr>
    <a href ="#" onclick="history.back()">뒤로 가기</a>

</body>
</html>